body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.582);
}
/* header */

.head{
    padding-left: 10px;
    padding-right: 10px;
    background-color: seagreen;
}

.page-des{
    font-size: 1em;
    font-weight: bold;
}

.head-nav{
    background-color: white;
    height: 120px;
}

.my-btn{
    width: 170px;
    height: 50px;
    background-color: rgba(0, 100, 0, 0.678);
    color: white;
    z-index: 20;
    font-weight: 500;
}

.my-btn:hover{
    border: 3px solid lightseagreen;
}

.my-li{
    font-weight: 500;
    font-size: 18px;
}

.my-li:hover{
   color: black;
}

/* first section */
.container-1{
    height: 730px;
    background-color: rgba(255, 255, 255, 0.788);
}


.title-wrapper{
    display: flex;
    color: black;
}

.note{
    font-size: 1.5em;
    text-decoration: underline;
}

.title-logo{
    flex: 2;
    padding-left: 50px;
}

.link{
    text-decoration: none;
    color: lightseagreen;
    font-weight: bold;
    margin-bottom: 15px;
}

.title-logo{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    
}

.section-2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    padding: 10px;
}

.section-text{
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.here{
    text-decoration: none;
    color: seagreen;
}

/* section 3 */

.section-3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: white;
    padding-right: 20px;
}

.three-text{
    text-decoration: none;
    color: seagreen;
    font-weight: 500;
}

.three-topic{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    height: 580px;
    padding-left: 10px;
}

.three-t{
    font-weight: 500;
    font-size: o.9em;
    color: rgba(0, 0, 0, 0.658);
}

.three-img{
    padding-left: 100px;
}

.three-text:hover{
    text-decoration: underline;
}

.three-f-text{
    margin-top: 30px;
    font-weight: 600;
}

.about-us{
    color: goldenrod;
    font-weight: 500;
    text-decoration: none;
}

.three-pic{
    order: 2;
    padding-right: px;
}

/* section 4 */

.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.911);
    font-weight: 500;
    height: 200px;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.555);
}

.four-topic{
    font-weight: bold;
    color: black;
    
}

.four-t{
    padding-left: 140px;
}

/*  section-5 */

.section-5{
    background-color: rgba(255, 255, 255, 0.911);
    min-height: 700px;
}

.title-wrapper-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.title-img-2{
    height: inherit;
}
.c-t{
    font-weight: bold;
    color: goldenrod;
}

.learn-more{
    text-decoration: none;
    background-color: lightskyblue;
    margin-left: 10px;
}

.learn-more:hover{
    
    border: 2px solid lightseagreen;
}

/*  section-6 */

.section-6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    height: 200px;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.555);
}
    
/*  section-7 */

.section-7{
    font-family: Arial, Helvetica, sans-serif;
}

.seven-date{
    position: relative;
}

.seven-A{
    box-shadow: 0px 8px 16px;
}


.seven-date::before{
    content: "";
    height: 2px;
    width: 60px;
    background-color: goldenrod;
    position: absolute;
    bottom: -0px;
}





